        QWidget { background-color: #FFFFFF; color: black; }
        QPushButton { background-color: #DDDDDD; color: black; border-radius: 5px; padding: 10px; }
        QPushButton:hover { background-color: #BBBBBB; }
        QPushButton:pressed { background-color: #888888; }
        AppView QFrame QPushButton {
            border: None;
            background: transparent;
            color: black;
            font-size: 16px;
            text-align: left;
        }
        AppView QFrame QPushButton:hover {
            text-decoration: underline;
            color: blue;
            }
        */